Repository abhishek-shivale/video_streaming: changes, and which lint-staged commands are due for each by the changed paths.
All: check, lint, prettier --check

[FEAT]: added commit lint
  .lintstagedrc
  apps/backend/.eslintrc.js
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/tsconfig.json
  package.json
  turbo.json
Due: check, lint, prettier --check

[FEAT]: added
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/tsconfig.json
  packages/database/.eslintrc.js
  packages/database/.gitignore
  packages/database/package.json
  packages/database/prisma/migrations/20250330092458_new_user_migrate/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  packages/database/prisma/schema.prisma
  packages/database/src/index.ts
  packages/database/tsconfig.json
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: added prisma
  apps/backend/src/auth/auth.controller.ts
Due: check, lint

[FEAT]: added type package
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  packages/types/.eslintrc.js
  packages/types/index.ts
  packages/types/package.json
  packages/types/src/auth/auth.dto.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: added type package
  packages/types/package.json
Due: prettier --check

[FEAT]: added utils package
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/main.ts
  packages/database/prisma/migrations/20250331064252_new_user_migration/migration.sql
  packages/database/prisma/schema.prisma
  packages/eslint-config/package.json
  packages/types/.eslintrc.cjs
  packages/types/index.ts
  packages/types/package.json
  packages/types/src/auth/auth.dto.ts
  packages/ui/package.json
  packages/utils/.eslintrc.cjs
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/src/auth.utils.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: check, lint, prettier --check

[FEAT]: completed auth routes, login and register done
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  packages/types/.eslintrc.cjs
  packages/utils/.eslintrc.cjs
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/src/auth.utils.ts
  pnpm-lock.yaml
  turbo.json
Due: check, lint, prettier --check

[FEAT]: completed auth routes, login and register done after format
  packages/types/package.json
  packages/utils/package.json
Due: prettier --check

[NEW]: removed package utils
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/main.ts
  packages/database/package.json
  packages/database/prisma/migrations/20250401030542_new_sch/migration.sql
  packages/database/prisma/schema.prisma
  packages/types/index.ts
  packages/types/package.json
  packages/types/src/user/user.dto.ts
  packages/types/src/video/video.dto.ts
  packages/types/tsconfig.json
  packages/utils/.eslintrc.cjs
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/src/auth.utils.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: added video service & completed upload video
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/video/video.controller.spec.ts
  apps/backend/src/video/video.controller.ts
  apps/backend/src/video/video.module.ts
  apps/backend/src/video/video.service.spec.ts
  apps/backend/src/video/video.service.ts
  package.json
  packages/types/index.ts
  packages/types/package.json
  packages/types/src/video/video.dto.ts
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: added queue and uitls package
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/auth/auth.service.ts
  apps/backend/src/video/video.service.ts
  apps/backend/tsconfig.json
  packages/queue/index.ts
  packages/queue/package.json
  packages/queue/tsconfig.json
  packages/typescript-config/base.json
  packages/utils/.eslintrc.cjs
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/src/auth.utils.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: added queue and uitls package after lint
  packages/database/index.ts
  packages/database/package.json
  packages/database/tsconfig.json
  packages/queue/.eslintrc.cjs
  packages/queue/package.json
  packages/utils/.eslintrc.cjs
  packages/utils/package.json
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: add frontend boilerplate
  apps/backend/package.json
  apps/frontend/.eslintrc.cjs
  apps/frontend/.gitignore
  apps/frontend/README.md
  apps/frontend/app/components/Navbar.tsx
  apps/frontend/app/components/ui/button.tsx
  apps/frontend/app/entry.client.tsx
  apps/frontend/app/entry.server.tsx
  apps/frontend/app/lib/utils.ts
  apps/frontend/app/root.tsx
  apps/frontend/app/routes/_index.tsx
  apps/frontend/app/tailwind.css
  apps/frontend/components.json
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/public/favicon.ico
  apps/frontend/public/logo-dark.png
  apps/frontend/public/logo-light.png
  apps/frontend/tailwind.config.ts
  apps/frontend/tsconfig.json
  apps/frontend/vite.config.ts
  packages/database/tsconfig.json
  packages/ui/eslint.config.mjs
  packages/ui/package.json
  packages/ui/src/button.tsx
  packages/ui/src/card.tsx
  packages/ui/src/code.tsx
  packages/ui/tsconfig.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: add frontend boilerplate
  apps/frontend/.eslintrc.cjs
  apps/frontend/.gitignore
  apps/frontend/README.md
  apps/frontend/app/components/Navbar.tsx
  apps/frontend/app/components/ui/button.tsx
  apps/frontend/app/entry.client.tsx
  apps/frontend/app/entry.server.tsx
  apps/frontend/app/root.tsx
  apps/frontend/app/routes/_index.tsx
  apps/frontend/app/tailwind.css
  apps/frontend/components.json
  apps/frontend/eslint.config.js
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/public/favicon.ico
  apps/frontend/public/logo-dark.png
  apps/frontend/public/logo-light.png
  apps/frontend/public/vite.svg
  apps/frontend/src/App.css
  apps/frontend/src/App.tsx
  apps/frontend/src/assets/react.svg
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/index.css
  apps/frontend/src/lib/utils.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/vite-env.d.ts
  apps/frontend/tailwind.config.ts
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.ts
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: add frontend boilerplate
  apps/frontend/src/App.tsx
Due: check, lint

[FEAT]: added ui for project
  .gitignore
  apps/backend/package.json
  apps/backend/src/auth/auth.controller.ts
  apps/backend/src/main.ts
  apps/backend/src/video/video.controller.ts
  apps/backend/src/video/video.service.ts
  apps/frontend/package.json
  apps/frontend/src/App.tsx
  apps/frontend/src/api.ts
  apps/frontend/src/components/auth/LoginForm.tsx
  apps/frontend/src/components/auth/RegisterForm.tsx
  apps/frontend/src/components/dashboard/Analytics.tsx
  apps/frontend/src/components/dashboard/Dashboard.tsx
  apps/frontend/src/components/dashboard/VideoLibrary.tsx
  apps/frontend/src/components/dashboard/VideoUpload.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/context/AuthContext.tsx
  apps/frontend/src/context/AuthContext_.tsx
  apps/frontend/src/context/VideoContext.tsx
  apps/frontend/src/context/videoProvider.tsx
  apps/frontend/src/hooks/useAuth.ts
  apps/frontend/src/hooks/useVideo.ts
  apps/frontend/src/instance/axios.instance.ts
  apps/frontend/src/main.tsx
  apps/frontend/tsconfig.app.json
  apps/worker/app.py
  package.json
  packages/database/tsconfig.json
  packages/types/index.ts
  packages/types/src/frontend/types.ts
  packages/types/src/video/video.dto.ts
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/src/auth.utils.ts
  packages/utils/src/token.utils.ts
  pnpm-lock.yaml
Due: check, lint, prettier --check

[BUG]: working queue system
  apps/video/.eslintrc.cjs
  apps/video/index.ts
  apps/video/package.json
  apps/video/tsconfig.json
  apps/worker/app.py
  commitlint.config.js
  packages/queue/index.ts
  packages/queue/package.json
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FEAT]: added lint
  apps/video/package.json
Due: prettier --check

[FIX]: fixed filekey for aws s3
  apps/backend/src/video/video.service.ts
  apps/video/package.json
Due: check, lint, prettier --check

[FIX]: fixed frontend dashboard
  apps/frontend/package.json
  apps/frontend/src/components/dashboard/VideoLibrary.tsx
  pnpm-lock.yaml
Due: check, lint, prettier --check

[FIX]: readme updated
  README.md
Due: none

Path conditions:
  check: any of: */**/*.{js,jsx,ts,tsx}
  lint: any of: */**/*.{js,jsx,ts,tsx}
  prettier --check: any of: */**/*.{json,css,md}
